<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link  href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet"
           integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">
    <title>eRegsitrar</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">eRegistration System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
<!--                <li class="nav-item active"><a class="nav-link" href="#">Book-->
<!--                    <span class="sr-only">(current)</span>-->
<!--                </a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#">Features</a>-->
<!--                </li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#">Pricing</a>-->
<!--                </li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#">About</a></li>-->
            </ul>

            <form class="form-inline my-2 my-lg-0" th:object="${searched}"  th:action="@{/search}" method="get">
                <label>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" th:name="searchWord">
                </label>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>
</header>

<div class="container"> </div>

<h2 style ="text-align :center">  Welcome to eRegistraion Portal </h2>

<div>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th scope = "col"> #</th>
            <th scope = "col"> Student Number</th>
            <th scope = "col"> First Name</th>
            <th scope = "col"> Middle Name</th>
            <th scope = "col"> Last Name</th>
            <th scope = "col"> CGPA</th>
            <th scope = "col"> Enrollment Date</th>
            <th scope = "col"> International Student</th>
            <th scope = "col"> Action  </th>
        </tr>

        </thead>

        <tbody>
        <tr th:each="student, iter : ${allStudent}">
            <th scope = "row" th:text = "${(iter.count)}"></th>
            <td>
<!--                <a th:href="@{'/appel/edit/' + ${appel.id}}"-->
<!--                <a th:href="@{/getStudent(id=${(student.getStudentId())})}"-->
                <a th:href="@{/getStudent(id=${(student.getStudentId())})}" th:text="${(student.getStudentNumber())}"></a>
            </td>
            <td th:text = "${(student.getFirstName())}"></td>
            <td th:text = "${(student.getMiddleName())}"></td>
            <td th:text = "${(student.getLastName())}"></td>
            <td th:text = "${(student.getCgpa())}"></td>
            <td th:text = "${(student.getEnrollmentDate())}"></td>
            <td th:text = "${(student.getInternational())}"></td>
            <td><a  th:href="@{/getStudent(id=${(student.getStudentId())})}">Edit</a> &nbsp;&nbsp; <a th:href="@{/delete/{id}(id=${student.getStudentId()})}">Delete</a></td>


<!--            <form th:action="@{delete_user}" method="post" th:object="${user}">-->
<!--                <input type="hidden" th:field="${user.personId}"/>-->
<!--                <button type="submit" value="Submit" class="btn btn-danger">Delete</button>-->
<!--            </form>-->
        </tr>

        <tr th:if ="${(allStudent.size() < 1)}">

            <td colspan = "9" style ="text-align :center">No Record Available </td>
        </tr>
        </tbody>

    </table>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>